#sidebar-wrapper
{
    height: 100%;
    width: 100%;
    background-color: white;
}

.zeroPaddingRight
{
    padding-right: 0px !important;
}

.zeroPaddingLeft
{
    padding-left: 0px !important;
}

.text-align
{
    text-align: center;
    vertical-align: middle;
}

.navbar
{
    margin-bottom:0px !important;
}

.productImage
{
    width:100px;
    height:75px;
}